/*Don't forget to set img elelment's width
 to 100% to avoid stupid layout issues.*/

:root{
    --color-primary: hsl(322, 100%, 66%);
    --color-headings: hsl(192, 100%, 9%);
    --color-body: hsl(208, 11%, 55%);
    --color-background: hsl(193, 100%, 96%);
    --color-white: #fff;
    --color-grey: #ccc;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 1.8rem;
    line-height: 1.5;
    margin: 0;
    /*this also applies to the callout section*/
}

main{
    position: relative;
}

.logo{
    width: 150px;
    height: 25px;
}

h1,
h2,
h3{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: var(--color-headings);
}

h1{
    font-size: 3.052rem;
}

h2{
    font-size: 2.441rem;
}

h3{
    font-size: 1.953rem;
}


/*Links*/
.link-underline{
    text-decoration: none;
    color: var(--color-grey);
}

.link-underline:hover{
    text-decoration: underline;
}



/*Lists*/
.list{
    list-style: none;
    padding-left: 0;
}



/*Icons*/
.icon{
    width: 20px;
    height: 20px;
    fill: var(--color-white);
}

.icon-social{
    border: 1px solid var(--color-white);
    padding: 0.7rem;
    margin: 1rem;
    border-radius: 100%;
}



/*Buttons*/
.btn{
    border-radius: 30px;
    border: 0;
    box-shadow: 0 5px 10px var(--color-grey);
    cursor: pointer;
    font-weight: 700;
    margin: 2rem;
    outline: 0;
    padding: 2rem 7rem;
}

.btn--primary{
    background: var(--color-primary);
    color: var(--color-white);
}

.btn--primary:hover{
    background: hsl(322, 89%, 72%);
}

.btn--white{
    background: var(--color-white);
}

.btn--white:hover{
    color: hsl(0, 0%, 30%);
}

.btn--small{
    padding: 1.3rem 4.3rem;
}



/*Grids*/
.grid{
    display: grid;
}

@media screen and (min-width:768px){
    .grid--1x2{
        grid-template-columns: repeat(2, 1fr);
    }
}



/*Callouts*/
.callout{
    align-items: center;
    border-radius: 11px;
    box-shadow: 0 -3px 10px var(--color-grey);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 450px;
    padding: 2rem;
    text-align: center;
    background: var(--color-white);
    position: relative;
    bottom: -8rem;
}

@media screen and (min-width:768px){
    .callout .btn{
        margin-top: 0;
    }
}



/*Navigation*/
.nav{
    align-items: center;
    display: flex;
    justify-content: space-between; 
}

.nav__btn{
    margin: 0;
}



/*Hero*/
.hero{
    background-color: var(--color-background);
    background-image: url(../images/bg-hero-mobile.svg);
    text-align: center;
    color: var(--color-headings);
    padding-bottom: 6rem;
    margin-bottom: 9.5rem;
}

@media screen and (min-width:768px){
    .hero{
        background-color: var(--color-background);
        background-image: url(../images/bg-hero-desktop.svg);
    } 
}

.hero__content{
    padding: 0 4rem;
}

.hero__header{
    padding: 2rem 2.5rem 8rem;
}

.hero__image{
    width: 100%;
}

.hero .grid{
    justify-items: center;
}

@media screen and (min-width:768px){    
    .hero .grid {
        gap: 3rem;
    }
}



/*Cards*/
.card{
    padding: 7rem 5rem 4rem;
    text-align: center;
    box-shadow: 0 0 10px var(--color-grey);
    max-width: 310px;
    margin: 3rem auto;
    border-radius: 10px;
}


@media screen and (min-width:600px){
    .card{
        max-width: 450px;
    }
}


@media screen and (min-width:768px){
    .card{
        max-width: 600px;
    }
}

@media screen and (min-width:1024px){
    .card{
        max-width: 1024px;
    }
}

@media screen and (min-width:1440px){
    .card{
        max-width: 1140px;
    }
}

.card img{
    width: 100%;
}



/*Footer*/
.footer{
    display: grid;
    background: var(--color-headings);
    padding: 16rem 2rem 5rem 2rem;
}

@media screen and (min-width:768px){
    .footer{
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 3rem;
    }
}

.footer__list-item{
    display: flex;
    align-items: center;
    margin: 2.5rem 0 2.5rem;
}

.footer__list-item:first-child {
    align-items: baseline;
}

.footer__icon{
    padding-right: 2.5rem;
}


.footer__list-item:first-child .footer__icon{
    position: relative;
    top: 6px;
    padding-right: 3.3rem;
}


.list .remove-margin-top{
    margin-top: 0;
}

@media screen and (min-width:768px){
.footer__list-item-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
}

.footer__last{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width:768px){
    .footer__last{
        align-items: flex-start;
    }

    .footer__last-social{
        margin-bottom: 20rem;
    }

}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}