<header class="hero">
  <header class="nav hero__header">
    <img class="nav__logo" src="images/logo.svg" alt="" />
    <button class="btn btn--white btn--small nav__btn">Try It Free</button>
  </header>
  <div class="grid grid--1x2 hero__content">
    <div>
      <h1>Build the Community Your Fans Will Love</h1>
      <p>
        Huddle re-imagines the way we build communities. You have a voice, but
        so does your audience. Create connections with your users as you engage
        in genuine discussion.
      </p>
      <button class="btn btn--primary">Get Started For Free</button>
    </div>
    <img class="hero__image" src="images/illustration-mockups.svg" alt="" />
  </div>
</header>
